body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    list-style: none; 
    padding-left: 0;
}

.blog-container {
    width: 100%;
}

.blog-post {
    background-color: #ffffff; 
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px; 
}

.highlight {
    font-weight: bold;
    color: #a52a2a;
}

.lab3-reflection {
    font-style: italic;
    background-color: #add8e6; 
    color: #ffffff;
}

@media (min-width: 700px) {
    
    .blog-container {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
    }

    .blog-post {
        width: 48%; 
    }
}