body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #ff6565;
    
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; 

}

nav, footer {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #4294e6;
}

a {
    color: #ff7300;
}