body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #ff6565;
    
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center; 

}

nav, footer {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #4294e6;
}

a {
    color: #ff7300;
}


.topnav {
    background-color: #111;
    overflow: hidden;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #5c8ef2; 
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}