* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(rgba(171, 170, 170, 0.8), rgba(67, 63, 63, 0.8)), url('https://icon2.cleanpng.com/20180630/phf/kisspng-line-point-sky-plc-font-saint-michael-5b377621325814.6077806015303613772062.jpg');

}

header {
    background-color: #dadada87;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #000000;
    
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    margin-left: 20px;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

main {
    padding: 20px;
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

h1, h2, h3 {
    margin-bottom: 15px;
    color: #575757;
}

p {
    margin-bottom: 15px;
}

footer {
    padding: 20px;
    background-color: #424242;
    color: #ffffff;
    text-align: center;
    margin-top: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e4e4e4;
    padding: 5px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    header #branding,
    header nav {
        float: none;
        text-align: center;
        width: 100%;
    }
    }

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #e2e2e2;
    padding: 12px;
    text-align: center;
}

thead th {
    background-color: #ea5656;
    color: rgb(255, 255, 255);
    text-align: center;
}

tbody th {
    background-color: #262626;
    color: rgb(255, 255, 255);
    width: 10%;
    font-size: 1.5em;
}

td img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 5px auto;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}